@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100svh;
  padding: 32px;
  background-color: #242424;
  font-family: "Rubik", sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

button {
  border: none;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 642px;
  /* border: white 1px solid; */

  color: white;
}

.result-display {
  flex: 0 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 -50px;
  height: 300px;
  background-color: #2e2e2e;
  border: #242424 8px solid;
  border-radius: 16px;
  z-index: 0;
}

.score {
  margin: 0 32px;
}
.score h1 {
  font-size: 64px;
}
#left-player-score h1 {
  color: #e63946;
}
#right-player-score h1 {
  color: #1d3557;
}
.score p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.left-player,
.right-player {
  flex: 0 1 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: inherit;
  border-radius: 16px;
}
.left-player {
  background-color: #e63946;
}
.right-player {
  background-color: #1d3557;
}

.hands-display {
  flex: 0 1 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  border-radius: 32px;
}
.left-player .hands-display {
  background-color: #c92f3a;
}
.right-player .hands-display {
  background-color: #172b48;
}
.hands-display img {
  flex: 1;
  max-width: 300px;
}

.buttons-menu {
  display: flex;
  gap: 8px;
  min-height: 35px;
}
.option-button {
  padding: 8px 16px;

  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #c92f3a;
}
.option-button label {
  margin-left: 8px;
}

/* Bottom div */
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
button.play {
  /* Layout */
  padding: 16px 96px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255);
  /* Text */
  color: rgba(20, 20, 20);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.1s ease;
}
button.play:hover {
  transform: scale(1.1);
}
button.restart {
  /* Layout */
  padding: 16px 96px;
  border-radius: 4px;
  background-color: transparent;
  /* Text */
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.1s ease;
}
button.restart:hover {
  background-color: rgba(0, 0, 0);
}
